{% extends "BASE.html" %}
{% load static %}
{% block page_content %}

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="" class="d-block w-100" alt="First Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Welcome to my website!</h5>
            <p>Let me take you into my own world which is beyond your imagination</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="Second Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Welcome to my website!</h5>
            <p>Let me take you into my own world which is beyond your imagination</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="Third Slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Let me take you into my own world which is beyond your imagination</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

{% endblock %}