{% extends "BASE.html" %}

{% load static %}
{% block page_content %}

<div class="form-container rounded-10">
  <h2>Add Schedule</h2>
  <form method="POST" class="form">
    {% csrf_token %}
    <h5>Nama Kegiatan</h5>
    {{ form.kegiatan }}
    <h5>Tempat Kegiatan</h5>
    {{ form.tempat }}
    <h5> Kategori Kegiatan </h5>
    {{ form.kategori }}
    <h5> Waktu dan Tanggal Kegiatan </h5>
    <p>
      {{ form.waktu }}
      {{ form.tanggal }}
    </p>
    <div class="full">
      <a href="/schedule/"><button type="button" class="button delete">Back</button></a>
      <input type="submit" class="button" value="Submit" />
    </div>
  </form>
</div>

{% endblock %}
