{% extends "BASE.html" %}

{% load static %}
{% block page_content %}
    <div class="sche-container">
        <h1>My Schedule</h1>
        <div class="atas">
            <a href="{% url 'mysite:makeschedule' %}"><button type="button" class="button delete">Create Schedule</button></a>
        </div>
    
    {% for j in schedule %}
        <div class="jadwalsheet">
            <h2><span>{{ j.kategori }}</span> - {{ j.kegiatan }}</h2>
            <div class="keterangan">
                <div>
                    <h4>di {{ j.tempat }}</h4>
                    <p>{{ j.tanggal }} - {{ j.waktu }}</p>
                </div>
                <form action="delete" method="POST" >
                {% csrf_token %}
                    <input type="hidden" value="{{ j.id }}" name="id" />
                    <input class="button delete" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}