@font-face {
    font-family: "PostNoBills";
    src: url('../font/Post\ No\ Bills\ Jaffna\ ExtraBold.ttf');
}

@font-face {
    font-family: "Markazi";
    src: url('../font/MarkaziText-Roman-VF.ttf');
}

@media (min-width: 576px){
    
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}

body{
    background: #080808;
    width: 100%;
    height: 1280px;
}

.navbar{
    background: #f0f0f0;
    height: 7%;
}

.navbar-brand{
    color: #080808;
    font-size: 30px;
    font-family: "PostNoBills";
}

.nav-link{
    color: #080808;
    font-family: "Markazi";
    font-size: 30px;
    background: #f0f0f0;
    width: 100%;
}

.footer{
    background: #f0f0f0;
    height: 5%;
    width: 100%;
    position: relative;
    text-align: center;
    top: 100%;
}

.footer-logo{
    color: #080808;
    font-family: "Markazi";
    font-size: 20px;
    left: 45%;
}

.form-container{
    color: #f0f0f0;
    margin: 0;
}

.h2{
    color: #f0f0f0;
    line-height: 100px;
    text-align: center;
}

.sche-container{
    color: #f0f0f0;
}


